DJANGO_SECRET_KEY=ivhr4mdz-1)&lkb841)22^p^kbs9269&(v9i7&#^ux0^40tpz-
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=

# Database (RDS)
DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME

# S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1
# AWS_S3_CUSTOM_DOMAIN=

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# Optional
GEN_API_KEY=
