    body {
      background: #fff;
      color: #c0bbbbff;
      font-family: 'Segoe UI', sans-serif;
    }
    .navbar {
      background: rgb(32, 32, 32);
      color: black;
      border-radius: 8px;
      box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
      margin-top:10px;
    }
    .nav-link {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    z-index: 1;                 /* place above highlight */
    transition: color 0.5s ease;
  }
    .navbar .nav-link {
      color: #007bff;
      position: relative;
      text-decoration: none;
      z-index: 1;
      padding: 8px 15px;
      transition: color 0.3s ease;
    } 
    .navbar .nav-link:hover {
      color: rgb(255, 253, 253);
      background: linear-gradient(45deg, #1a1a1a, #0baaff);
      text-decoration: none;
      border-radius: 10px;

    } 



    .text-gradient {
      background: linear-gradient(90deg, yellow, #ffffffff);
      -webkit-background-clip: text;
      /*-webkit-text-fill-color: transparent;*/
    }
    .sidebar-box {
      background: #1a1a1a;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .post-card {
      border: 2px solid #4039ffff;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.3s ease;
      shadow: 4px 4px 12px rgba(0,0,0,0.4);
    }
    .post-card:hover {
      transform: translateY(-5px);
      box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
    }
    .post-card img {
      padding: 10px;
      border-radius: 10%;
      height: 180px;
      width:100%;
      object-fit: cover;
    }
    .btn-gradient {
      background: white;
      border: 3px solid black;
      color: black;

    }
    .btn-gradient:hover {
      background: black;
      color: white;
      border: 3px solid white;
    }
    

    .category-dropdown {
      width: 300px !important;       /* fixed width */
      left: 0 !important;            /* align to left of button */
      right: auto !important;        /* stop shifting to right */
      transform: translateX(0) !important; /* cancel Popper offset */
      max-height: 70vh;              /* safe vertical space */
      overflow-y: auto;              /* scroll if too tall */
    }
    .dropdown-menu .dropdown-item{
      color:white;
    }

    .dropdown-menu .dropdown-item:hover{
      background: linear-gradient(90deg,white, black);
      color: black;
      border-radius: 6px;
    }