{% extends 'news/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-gradient mb-4">{{ category }} News</h2>
  <div class="row">
    {% for article in articles %}
      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-light shadow-lg border-0">
          {% if article.images %}
            <img src="{{ article.images.url }}" class="card-img-top" alt="{{ article.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ article.title|truncatechars:60 }}</h5>
            <a href="{% url 'article_detail_ajax' article.pk %}" class="btn btn-gradient">Read More</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No news in this category yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
